@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, div, canvas {
    margin: 0;
    padding: 0;
}
body {
    color: #555;
    margin: 0;
    margin: 0px;
    background-color: #C1F0F6;
    background-image: linear-gradient(#dbedf9, #F0F8FF);
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
    color: #1B3F8B;
    padding-left: .5em;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.3em;
}
em {
    font-weight: 200;
    font-size: 1.05;
    text-align: center;
}
p {
    line-height: 1.5;
}

#hero h1 {
    padding-top: 20%;
}

/* Responsive test */
p.text {
    float: left;
    width: 60%;
}
div.img-wrap {
    float: right;
    width: 40%;
}
img.responsive{
    max-width: 100%;
    height: auto;
}

/* header */
.container {
    max-width: 100%;
    margin: 0 auto;
}

#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

/*Footer*/
#footer {
    background-color: #2f2f2f;
    padding: 2em 0;
}
.column {
    min-width: 20%;
    display: inline-block;
    vertical-align: top;
}
#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#footer p {
    color: white;
}
a {
    color: #1abc9c;
    text-decoration: none;
}
a:hover {
    color: #f6a623;
}
